<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>This is home page.</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis
      adipisci optio reprehenderit sequi porro! Ipsam praesentium minus porro
      deserunt odio repellat iure aliquid nulla! Repellat ab placeat labore
      nisi. Ipsum quae alias dolores beatae, rem earum modi facilis animi iste
      harum, laboriosam consectetur deserunt veniam distinctio voluptas porro
      incidunt tempore, non libero? Ea suscipit facilis esse omnis veritatis
      consequuntur deleniti tenetur veniam animi asperiores dicta sapiente quos
      excepturi officia accusamus assumenda porro quae, qui enim, dolorem quis
      sequi aliquam vel? Eligendi dolore sequi perferendis, provident expedita
      ratione dignissimos maxime veniam architecto amet debitis pariatur non
      exercitationem quia illo tenetur a!
    </p>
    <a href="/about">Go to About Page</a>
  </body>
</html>
